<form action="/admin/add-product" method="POST" class="product-form">
  <div class="form-group">
    <label for="product-name">Product Name</label>
    <input
      type="text"
      id="product-name"
      name="productName"
      class="form-control"
    />
  </div>
  <div class="form-group row">
    <button type="submit" class="button button--primary">Submit</button>
  </div>
</form>
