<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/product.css")
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__items
          li.main-header__item
            a(href="/") Shop
          li.main-header__item
            a(href="/admin/add-product").active Add Product
    main
      form(action="/admin/add-product", method="post").product-form
        div.form-group
          label(for="product-name") Product Name
          input#product-name(type="text", name="productName").form-control
        div.form-group.row
          button(type="submit").button.button--primary Submit
