body {
  margin: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  margin: 0 40px;
  padding-top: 1rem;
}

.main-header {
  height: 56px;
  background-color: rgb(216, 187, 25);
  padding: 0 40px;
}

.main-header__nav {
  height: 100%;
}

.main-header__items {
  margin: 0;
  list-style: none;
  height: 100%;
  vertical-align: middle;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-header__item {
  margin: 0 1rem;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #d10a0a;
}
